.form {
    display: flex;
    gap: 0.5rem;
    max-width: 1200px;
    padding: 1rem 0rem;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.input {
    padding: 0.5rem;
    border: none;
    border:  solid 2px  rgb(221, 221, 221);
    border-radius: 0.3rem;
    color:  rgb(143, 143, 143);
}
.search {
    background-color: rgb(24, 186, 24);
    padding: 0.5rem;
    border: none;
    border:  solid 2px  rgb(221, 221, 221);
    border-radius: 0.3rem;
    color:  white;
    cursor: pointer;
}
/* 
INSERT INTO licoreriaproductos(producto_nombre, producto_descripcion,producto_img,producto_marca,producto_categoria,producto_provedor,producto_cantidad,producto_precio)
    VALUES('Pete','g´qejg´ñejgopegjeropgjeqropjgopèjgopeqrgjeropgjeqopeq','https://plazavea.vteximg.com.br/arquivos/ids/620410-1000-1000/20191228.jpg',"Castillo",50,200,20,51.1) */